<header>
  <img src="assets/logorfc.png" alt="Logo" width=20% height=5%>
<nav>

  <ul class="nav__links">
    <svg  width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#315cfd" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-pie-chart"><path d="M21.21 15.89A10 10 0 1 1 8 2.83"></path><path d="M22 12A10 10 0 0 0 12 2v10z"></path></svg>
    <li><a href="/dashboard">Dashboard</a></li>

    <svg  width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#315cfd" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-table"><path d="M9 3H5a2 2 0 0 0-2 2v4m6-6h10a2 2 0 0 1 2 2v4M9 3v18m0 0h10a2 2 0 0 0 2-2V9M9 21H5a2 2 0 0 1-2-2V9m0 0h18"></path></svg>
    <li><a href="/tableau">Tableau</a></li>

    <svg  width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#315cfd" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-table"><path d="M9 3H5a2 2 0 0 0-2 2v4m6-6h10a2 2 0 0 1 2 2v4M9 3v18m0 0h10a2 2 0 0 0 2-2V9M9 21H5a2 2 0 0 1-2-2V9m0 0h18"></path></svg>
    <li><a href="/chercher">Tableau complet</a></li>

    <svg  width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#315cfd" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-plus"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg>
    <li><a href="/signup">Ajouter</a></li>
 
    <li><a href="/login">Se déconnecter</a></li>
    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-disc"><circle cx="12" cy="12" r="10"></circle><circle cx="12" cy="12" r="3"></circle></svg>
  </ul>
</nav>
</header>

<div class="bg">
 
  <iframe title="3rd try" src="https://app.powerbi.com/reportEmbed?reportId=f0b5f4d7-d701-41f1-ad09-17423a65ff30&autoAuth=true&ctid=7917799a-9669-4e41-b87d-4c14fefd7c41" frameborder="0" allowFullScreen="true"></iframe>
</div>